<template name="dashboard">

    {{> pageHeading title='Dashboard' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="p-w-md m-t-sm">
            <div class="row">
                <div class="col-lg-12">

                    <!-- House Station Chart-->


                    <div class="row">
                        <h1 style="margin: 22.5px 12.5px">House Station Data</h1>
                        <div class="col-sm-4">
                            <h2 class="m-b-xs">
                                Wind Speed
                            </h2>
                            <small>
                                Line plot of wind velocity over time
                            </small>
                            <div id="sparkline1" class="m-b-sm"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Average</small>
                                    <h4>13 knots</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Increase (1h)</small>
                                    <h4>6.11%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">High (24h)</small>
                                    <h4>16 knots</h4>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <h2 class="m-b-xs">
                                Temperature
                            </h2>
                            <small>
                                Line plot of temperature over time
                            </small>
                            <div id="sparkline2" class="m-b-sm"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Average</small>
                                    <h4>32&deg; C</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Increase (1h)</small>
                                    <h4>2.45%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">High (24h)</small>
                                    <h4>38&deg; C</h4>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-4">

                            <div class="row m-t-xs">
                                <div class="col-xs-6">
                                    <h5 class="m-b-xs">Precipitation (total)</h5>
                                    <h1 class="no-margins">3 in</h1>
                                </div>
                                <div class="col-xs-6">
                                    <h5 class="m-b-xs">Percipitation (average)</h5>
                                    <h1 class="no-margins">0.6 in</h1>
                                </div>
                            </div>


                            <table class="table small m-t-sm">
                                <tbody>
                                <tr>
                                    <td>
                                       Today: <strong>0.6 in</strong>

                                    </td>
                                    <td>
                                        Today: <strong>0.7 in</strong>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Yesterday: <strong>0.5 in</strong>
                                    </td>
                                    <td>
                                        Yesterday: <strong>0.2 in</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last Week: <strong>0.9 in</strong>
                                    </td>
                                    <td>
                                        Last Week: <strong>1.2 in</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>



                        </div>

                    </div>

                    <br>
                    <br>


                    <!-- Humidity Line -->

                    <div class="wrapper wrapper-content animated fadeIn" style="background: #fff;">

                        <div class="p-w-md m-t-sm">

                            <div class="row">
                                <div class="col-lg-12">
                                <h1>Humidity</h1>
                                <small>Connected nodes: <strong>ALL</strong></small>

                                    <div class="flot-chart m-b-xl">
                                        <div class="flot-chart-content" id="chart2"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- Temperature -->

                    <div class="wrapper wrapper-content animated fadeIn" style="background: #fff;">

                        <div class="p-w-md m-t-sm">

                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>Temperature</h1>
                                    <small>Connected nodes: <strong>ALL</strong></small>
                                    <div class="flot-chart m-b-xl">
                                        <div class="flot-chart-content" id="chart1"></div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <br>
                    <br>

                    <!-- Chart # 6, 7, 8  Onboard Metrics-->


                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content" id="overview">
                                    <h5>Node Overview</h5>
                                    <table class="table table-stripped small m-t-md">
                                        <tbody>
                                        <tr>
                                            <td class="no-borders">
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td  class="no-borders">
                                                #PL01
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td>
                                                #PL02
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td>
                                                #PL03
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Progress Status -->
                                     <div class="ibox-content" id="overview">
                                        <h5>Nodes Live</h5>
                                        <h2>100%</h2>
                                        <div class="progress progress-mini">
                                            <div style="width: 100%;" class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL01</h5>
                                    <table class="table table-stripped small m-t-md">
                                        <tbody>
                                        <tr>
                                            <td class="no-borders">
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td  class="no-borders">
                                                HPT Module
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td>
                                                Motion Cluster
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-navy"></i>
                                            </td>
                                            <td>
                                                Peripherals
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Progress Status -->
                                     <div class="ibox-content">
                                        <h5>Battery</h5>
                                        <h2>65%</h2>
                                        <div class="progress progress-mini">
                                            <div style="width: 68%;" class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL02</h5>
                                    <table class="table table-stripped small m-t-md">
                                        <tbody>
                                        <tr>
                                            <td class="no-borders">
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td  class="no-borders">
                                                HPT Module
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td>
                                                Motion Cluster
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td>
                                                Peripherals
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Progress Status -->
                                     <div class="ibox-content">
                                        <h5>Battery</h5>
                                        <h2>96%</h2>
                                        <div class="progress progress-mini">
                                            <div style="width: 99%;" class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL03</h5>
                                    <table class="table table-stripped small m-t-md">
                                        <tbody>
                                        <tr>
                                            <td class="no-borders">
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td  class="no-borders">
                                                HPT Module
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td>
                                                Motion Cluster
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-circle text-danger"></i>
                                            </td>
                                            <td>
                                                Peripherals
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Progress Status -->
                                     <div class="ibox-content">
                                        <h5>Battery</h5>
                                        <h2>16%</h2>
                                        <div class="progress progress-mini">
                                            <div style="width: 19%; background:#ED5565;" class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Humidity per node -->

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content" id="overview">
                                    <h5>Average Humidity</h5>
                                    <h2>20%</h2>
                                    <div class="text-center">
                                        <div id="sparkline5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL01</h5>
                                    <h2>62%</h2>
                                    <div class="text-center">
                                        <div id="sparkline6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL02</h5>
                                    <h2>50%</h2>
                                    <div class="text-center">
                                        <div id="sparkline7"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL03</h5>
                                    <h2>40%</h2>
                                    <div class="text-center">
                                        <div id="sparkline8"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Barometric pressure -->

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content" id="overview">
                                    <h5>Average Barometric Pressure</h5>
                                    <h1 class="no-margins">1,100</h1>
                                    <div class="stat-percent font-bold text-navy">1% <i class="fa fa-level-up"></i></div>
                                    <small>millibars</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL01</h5>
                                    <h1 class="no-margins">1,090</h1>
                                    <div class="stat-percent font-bold text-navy">3% <i class="fa fa-level-up"></i></div>
                                    <small>millibars</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL02</h5>
                                    <h1 class="no-margins">1,020</h1>
                                    <div class="stat-percent font-bold text-danger">2% <i class="fa fa-level-down"></i></div>
                                    <small>millibars</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>#PL03</h5>
                                    <h1 class="no-margins">980</h1>
                                    <div class="stat-percent font-bold text-danger">4% <i class="fa fa-level-down"></i></div>
                                    <small>millibars</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>