<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Austin Tindle</strong>
                             </span> <span class="text-muted text-xs block">MDMA <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Configure</a></li>
                            <li><a href="#">Refresh</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
                </li>
                <li class="{{isActiveRoute regex='admin'}}">
                    <a href="{{pathFor route='admin'}}"><i class="fa fa-user"></i> <span class="nav-label">Admin</span> </a>
                </li>
                <li class="{{isActiveRoute regex='locations'}}">
                    <a href="{{pathFor route='locations'}}"><i class="fa fa-globe"></i> <span class="nav-label">Locations</span> </a>
                </li>
                <li class="{{isActiveRoute regex='users'}}">
                    <a href="{{pathFor route='users'}}"><i class="fa fa-users"></i> <span class="nav-label">Users</span> </a>
                </li>
                <li class="{{isActiveRoute regex='diagnostic'}}">
                    <a href="{{pathFor route='diagnostic'}}"><i class="fa fa-flask"></i> <span class="nav-label">Diagnostic</span> </a>
                </li>
                <li class="{{isActiveRoute regex='settings'}}">
                    <a href="{{pathFor route='settings'}}"><i class="fa fa-gear"></i> <span class="nav-label">Settings</span> </a>
                </li>
                <li class="{{isActiveRoute regex='poweroff'}}">
                    <a href="{{pathFor route='poweroff'}}"><i class="fa fa-power-off"></i> <span class="nav-label">Power-Off</span> </a>
                </li>
            </ul>

        </div>
    </nav>
</template>